APP_NAME=
APP_PORT=
APP_DEFAULT_LOCALE=en

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_MAX_OPEN_CONNS=
DB_MAX_IDLE_CONNS=
DB_CONN_MAX_LIFETIME=
DB_CONN_MAX_IDLE_TIME=

JWT_ACCESS_KEY=
JWT_ACCESS_EXPIRED=
